<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="camera-cordova-plugin" version="2.0.0">

  <name>Custom Camera</name>
  <description>Custom camera for taking photos of documents</description>
  <license>Apache 2.0</license>
  <repo>https://github.com/expcapitaldev/camera-cordova-plugin</repo>

  <engines>
      <engine name="cordova" version=">=3.1.0" />
  </engines>

  <js-module src="www/CustomCamera.js" name="CustomCamera">
    <clobbers target="CustomCamera" />
  </js-module>

    <!-- Android -->
    <platform name="android">
     <framework custom="true" src="platform/android/customcamera.gradle" type="gradleReference"/>

        
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomCamera">
          <param name="android-package" value="com.expcapital.customcamera.CustomCamera" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
        
      <resource-file src="platform/android/res/layout/activity_camera.xml" target="res/layout/activity_camera.xml" />
        
      <resource-file src="platform/android/res/drawable/photo.png" target="res/drawable/photo.png" />
      <resource-file src="platform/android/res/drawable/photo_selector.xml" target="res/drawable/photo_selector.xml" />
      <resource-file src="platform/android/res/drawable/photo_press.png" target="res/drawable/photo_press.png" />
      <resource-file src="platform/android/res/drawable/cancel_selector.xml" target="res/drawable/cancel_selector.xml" />
      <resource-file src="platform/android/res/drawable/progress_drawable.xml" target="res/drawable/progress_drawable.xml" />

      <source-file src="platform/android/com/expcapital/customcamera/CustomCamera.java" target-dir="src/com/expcapital/customcamera/" />
      <source-file src="platform/android/com/expcapital/customcamera/CameraActivity.java" target-dir="src/com/expcapital/customcamera/" />
      <source-file src="platform/android/com/expcapital/customcamera/ViewfinderView.java" target-dir="src/com/expcapital/customcamera/" />
        
      <config-file target="AndroidManifest.xml" parent="/manifest/application" after="activity">
            <activity android:name="com.expcapital.customcamera.CameraActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
      </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomCamera">
                <param name="ios-package" value="CustomCamera" />
            </feature>
        </config-file>
        
        <header-file src="platform/ios/CustomCamera.h" />
        <source-file src="platform/ios/CustomCamera.m" />
        <header-file src="platform/ios/CCCameraOptions.h" />
        <source-file src="platform/ios/CCCameraOptions.m" />
        <header-file src="platform/ios/CCCameraManager.h" />
        <source-file src="platform/ios/CCCameraManager.m" />
        <header-file src="platform/ios/CCCameraViewController.h" />
        <source-file src="platform/ios/CCCameraViewController.m" />

        <resource-file src="platform/ios/CCCameraViewController.xib" />
        <resource-file src="platform/ios/res/cc_capture_btn.png" />
        <resource-file src="platform/ios/res/cc_capture_btn@2x.png" />
        <resource-file src="platform/ios/res/cc_capture_btn@3x.png" />

        <framework src="AVFoundation.framework" />
    </platform>
</plugin>
